<nav class="sticky top-0 z-50 bg-white shadow-sm border-b border-slate-200">
  <div class="max-w-7xl mx-auto px-6 py-3 flex items-center justify-between">
    <div class="flex items-center gap-3">
      <img src="/assets/images/logo.png" alt="Logo" class="h-14" />
    </div>

    <button mat-button="filled" class="flex justify-end items-center" routerLink="/user-dashboard">
      Home
    </button>
  </div>
</nav>

<div class="w-full max-w-dvw mx-auto px-8 py-8">
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold text-slate-800">Marriage Certificate Application</h1>
  </div>

  <div class="w-full max-w-dvw mx-auto px-8 pb-10">
    <mat-stepper linear #stepper [selectedIndex]="stepIndex">
      <mat-step [stepControl]="firstFormGroup" [completed]="isDraft || firstFormGroup.valid">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out Bride Details</ng-template>

          <div class="mb-5">
            <label class="text-xl font-semibold text-slate-800 mb-4">Bride Details:</label>
          </div>
          <mat-card class="w-full rounded-2xl shadow-lg p-10 !border !border-solid !border-black">
            <app-aadhar-verification
              [aadharControl]="firstFormGroup.controls.brideAadharNumber"
              (verified)="onBrideAadharVerified($event)"
            ></app-aadhar-verification>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Bride Name</mat-label>
                <input matInput type="text" formControlName="brideName" />
                <mat-error>Enter Bride Name</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="brideEmail" />
                <mat-error>Enter Valid Email</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Select Bride Date of Birth</mat-label>
                <input
                  matInput
                  [min]="minDate"
                  [max]="maxDate"
                  [matDatepicker]="pickerOne"
                  formControlName="brideBirthDate"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerOne"></mat-datepicker-toggle>
                <mat-datepicker #pickerOne></mat-datepicker>
                <mat-error>Please select a Date of Birth</mat-error>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Father Name</mat-label>
                <input matInput type="text" formControlName="brideFatherName" />
                <mat-error>Enter Valid Name</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Mother Name</mat-label>
                <input matInput type="text" formControlName="brideMotherName" />
                <mat-error>Enter Valid Name</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="text" formControlName="brideMobileNumber" />
                <mat-error>Enter Valid Mobile Number</mat-error>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Gender</mat-label>

                <mat-select formControlName="brideGender">
                  <mat-option value="male">Male</mat-option>

                  <mat-option value="female">Female</mat-option>

                  <mat-option value="other">Other</mat-option>
                </mat-select>

                <mat-error>Please select gender</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 mt-4">
              <label class="block text-lg font-semibold text-slate-700">Address:</label>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Street</mat-label>
                <input matInput type="text" formControlName="brideStreet" />
                <mat-error>Enter the street</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="brideCity" />
                <mat-error>Enter the city</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Sub District</mat-label>
                <input matInput type="text" formControlName="brideSubDistrict" />
                <mat-error>Enter the Sub District</mat-error>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>District</mat-label>
                <input matInput type="text" formControlName="brideDistrict" />
                <mat-error>Enter the District</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>State</mat-label>
                <input matInput type="text" formControlName="brideState" />
                <mat-error>Enter the state</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>PinCode</mat-label>
                <input matInput type="text" formControlName="bridePinCode" />
                <mat-error>Enter the Pincode</mat-error>
              </mat-form-field>
            </div>
          </mat-card>

          <div class="flex justify-end mt-6">
            <button matButton="filled" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" [completed]="isDraft || secondFormGroup.valid">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out Groom Details</ng-template>

          <div class="mb-5">
            <label class="text-xl font-semibold text-slate-800 mb-4">Groom Details:</label>
          </div>

          <mat-card class="w-full rounded-2xl shadow-lg p-10 !border !border-solid !border-black">
            <app-aadhar-verification
              [aadharControl]="secondFormGroup.controls.groomAadharNumber"
              (verified)="onGroomAadharVerified($event)"
            ></app-aadhar-verification>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Groom Name</mat-label>
                <input matInput type="text" formControlName="groomName" />
                <mat-error>Enter Groom Name</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="groomEmail" />
                <mat-error>Enter Valid Email</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Select Groom Date of Birth</mat-label>
                <input
                  matInput
                  [min]="minDate"
                  [max]="maxDate"
                  [matDatepicker]="pickerTwo"
                  formControlName="groomBirthDate"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerTwo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTwo></mat-datepicker>
                <mat-error>Please select a Date of Birth</mat-error>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Father Name</mat-label>
                <input matInput type="text" formControlName="groomFatherName" />
                <mat-error>Enter Valid Name</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Mother Name</mat-label>
                <input matInput type="text" formControlName="groomMotherName" />
                <mat-error>Enter Valid Name</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="text" formControlName="groomMobileNumber" />
                <mat-error>Enter Valid Mobile Number</mat-error>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Gender</mat-label>

                <mat-select formControlName="groomGender">
                  <mat-option value="male">Male</mat-option>

                  <mat-option value="female">Female</mat-option>

                  <mat-option value="other">Other</mat-option>
                </mat-select>

                <mat-error>Please select gender</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 mt-4">
              <label class="block text-lg font-semibold text-slate-700">Address:</label>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Street</mat-label>
                <input matInput type="text" formControlName="groomStreet" />
                <mat-error>Enter the street</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="groomCity" />
                <mat-error>Enter the city</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Sub District</mat-label>
                <input matInput type="text" formControlName="groomSubDistrict" />
                <mat-error>Enter the Sub District</mat-error>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>District</mat-label>
                <input matInput type="text" formControlName="groomDistrict" />
                <mat-error>Enter the District</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>State</mat-label>
                <input matInput type="text" formControlName="groomState" />
                <mat-error>Enter the state</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>PinCode</mat-label>
                <input matInput type="text" formControlName="groomPinCode" />
                <mat-error>Enter the Pincode</mat-error>
              </mat-form-field>
            </div>
          </mat-card>

          <div class="flex justify-between mt-6">
            <button type="button" matButton="filled" matStepperPrevious>Back</button>
            <button type="button" matButton="filled" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup" [completed]="isDraft || thirdFormGroup.valid">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Fill out Marriage Details</ng-template>
          <div class="mb-5">
            <label class="text-xl font-semibold text-slate-800 mb-4"> Marriage Details:</label>
          </div>
          <mat-card
            class="w-full rounded-2xl shadow-lg p-10 !border !border-solid !border-black mb-8"
          >
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Select Marriage Date</mat-label>
                <input
                  matInput
                  [min]="minDate"
                  [max]="maxDate"
                  [matDatepicker]="pickerThree"
                  formControlName="marriageDate"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerThree"></mat-datepicker-toggle>
                <mat-datepicker #pickerThree></mat-datepicker>
                <mat-error>Please select a Marriage Date</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Marriage Place</mat-label>
                <input matInput type="text" formControlName="marriagePlace" />
                <mat-error>Enter the Marriage Place</mat-error>
              </mat-form-field>

              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Districts</mat-label>
                <mat-select formControlName="districtId" (selectionChange)="selectDistricts()">
                  @for (district of districts; track district._id) {
                    <mat-option [value]="district._id">{{ district.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card>

          <div class="flex justify-between mt-6">
            <button type="button" matButton="filled" matStepperPrevious>Back</button>
            <button type="button" matButton="filled" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup" [completed]="isDraft || fourthFormGroup.valid">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Fill out Witness Details</ng-template>

          <div class="mb-5">
            <label class="text-xl font-semibold text-slate-800 mb-4"> Witness Details:</label>
          </div>
          <mat-card
            class="w-full rounded-2xl shadow-lg p-10 !border !border-solid !border-black mb-8"
          >
            <app-aadhar-verification
              [aadharControl]="fourthFormGroup.controls.witnessAadharNumber"
              (verified)="onWitnessAadharVerified($event)"
            ></app-aadhar-verification>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="witnessName" />
                <mat-error>Enter Valid Name</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="text" formControlName="witnessMobileNumber" />
                <mat-error>Enter Valid Mobile Number</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="witnessEmail" />
                <mat-error>Enter Valid Email</mat-error>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Witness Relation</mat-label>
                <input matInput type="text" formControlName="witnessRelation" />
                <mat-error>Enter Relation</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Gender</mat-label>

                <mat-select formControlName="witnessGender">
                  <mat-option value="male">Male</mat-option>

                  <mat-option value="female">Female</mat-option>

                  <mat-option value="other">Other</mat-option>
                </mat-select>

                <mat-error>Please select gender</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 mt-4">
              <label class="block text-lg font-semibold text-slate-700">Address:</label>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Street</mat-label>
                <input matInput type="text" formControlName="witnessStreet" />
                <mat-error>Enter the street</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="witnessCity" />
                <mat-error>Enter the city</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Sub District</mat-label>
                <input matInput type="text" formControlName="witnessSubDistrict" />
                <mat-error>Enter the Sub District</mat-error>
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>District</mat-label>
                <input matInput type="text" formControlName="witnessDistrict" />
                <mat-error>Enter the District</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>State</mat-label>
                <input matInput type="text" formControlName="witnessState" />
                <mat-error>Enter the state</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>PinCode</mat-label>
                <input matInput type="text" formControlName="witnessPinCode" />
                <mat-error>Enter the Pincode</mat-error>
              </mat-form-field>
            </div>
          </mat-card>

          <div class="mb-5">
            <label class="text-xl font-semibold text-slate-800 mb-4">Priest Details:</label>
          </div>
          <mat-card class="w-full rounded-2xl shadow-lg p-10 !border !border-solid !border-black">
            <app-aadhar-verification
              [aadharControl]="fourthFormGroup.controls.brahmanAadharNumber"
              (verified)="onBrahmanAadharVerified($event)"
            ></app-aadhar-verification>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="brahmanName" />
                <mat-error>Enter Valid Name</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="text" formControlName="brahmanMobileNo" />
                <mat-error>Enter Valid Mobile Number</mat-error>
              </mat-form-field>
            </div>
          </mat-card>

          <div class="flex justify-between mt-6">
            <button type="button" matButton="filled" matStepperPrevious>Back</button>
            <button type="button" matButton="filled" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      @if (!isDraft) {
        <mat-step
          [stepControl]="fifthFormGroup"
          label="Upload Document"
          [completed]="isDraft || fifthFormGroup.valid"
        >
          <form [formGroup]="fifthFormGroup">
            <ng-template>Upload Document</ng-template>

            <div class="mb-5">
              <label class="text-xl font-semibold text-slate-800 mb-4">Upload Document:</label>
            </div>

            <mat-card class="w-full rounded-2xl shadow-lg p-10 !border !border-solid !border-black">
              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="mb-5">
                  <label class="block text-sm font-semibold text-slate-700 mb-2">
                    Bride Aadhar Card:</label
                  >
                  <input
                    type="file"
                    (change)="onFileSelected($event, 'bride')"
                    class="border border-black p-2 rounded-md"
                  />
                </div>
                <div class="mb-5">
                  <label class="block text-sm font-semibold text-slate-700 mb-2">
                    Groom Aadhar Card:</label
                  >
                  <input
                    type="file"
                    (change)="onFileSelected($event, 'groom')"
                    class="border border-black p-2 rounded-md"
                  />
                </div>
                <div class="mb-5">
                  <label class="block text-sm font-semibold text-slate-700 mb-2">
                    Witness Aadhar Card:</label
                  >
                  <input
                    type="file"
                    (change)="onFileSelected($event, 'witness')"
                    class="border border-black p-2 rounded-md"
                  />
                </div>
              </div>

              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="mb-5">
                  <label class="block text-sm font-semibold text-slate-700 mb-2">
                    Priest Aadhar Card:</label
                  >
                  <input
                    type="file"
                    (change)="onFileSelected($event, 'brahman')"
                    class="border border-black p-2 rounded-md"
                  />
                </div>
                <div class="mb-5">
                  <label class="block text-sm font-semibold text-slate-700 mb-2">
                    Bride Ration Card:</label
                  >
                  <input
                    type="file"
                    (change)="onFileSelected($event, 'brideRation')"
                    class="border border-black p-2 rounded-md"
                  />
                </div>

                <div class="mb-5">
                  <label class="block text-sm font-semibold text-slate-700 mb-2">
                    Groom Ration Card:</label
                  >
                  <input
                    type="file"
                    (change)="onFileSelected($event, 'groomRation')"
                    class="border border-black p-2 rounded-md"
                  />
                </div>
              </div>

              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="mb-5">
                  <label class="block text-sm font-semibold text-slate-700 mb-2">
                    Bride Photo:</label
                  >
                  <input
                    type="file"
                    (change)="onFileSelected($event, 'bridePhoto')"
                    class="border border-black p-2 rounded-md"
                  />
                </div>
                <div class="mb-5">
                  <label class="block text-sm font-semibold text-slate-700 mb-2">
                    Groom Photo:</label
                  >
                  <input
                    type="file"
                    (change)="onFileSelected($event, 'groomPhoto')"
                    class="border border-black p-2 rounded-md"
                  />
                </div>
                <div class="mb-5">
                  <label class="block text-sm font-semibold text-slate-700 mb-2">
                    Invitation Card:</label
                  >
                  <input
                    type="file"
                    (change)="onFileSelected($event, 'invitationCard')"
                    class="border border-black p-2 rounded-md"
                  />
                </div>
              </div>
            </mat-card>

            <div class="flex justify-between mt-6">
              <button type="button" matButton="filled" matStepperPrevious>Back</button>
              <button
                type="submit"
                matButton="filled"
                color="primary"
                (click)="marriageCertificate(stepper)"
              >
                Submit and Continue to Slot Selection > Next
              </button>
            </div>
          </form>
        </mat-step>
      }

      <mat-step [stepControl]="sixthFormGroup" label="Slot Selection">
        <form [formGroup]="sixthFormGroup">
          <ng-template>Slot Selection</ng-template>

          <mat-card class="w-full rounded-2xl shadow-lg p-10 !border !border-solid !border-black">
            <span class="text-red-600 font-extrabold text-2xl">Instruction:</span>
            <br />
            <p class="text-red-600 font-medium">
              * Please ensure that all information entered in the application matches the supporting
              documents. Any mismatch may lead to delays or rejection of the application.
            </p>
            <br />
            <li>
              <p class="font-medium text-lg">
                Select a convenient date and time slot for your verification appointment.
              </p>
            </li>
            <li>
              <p class="font-medium text-lg">
                Ensure all required documents are ready before joining the verification session.
              </p>
            </li>
            <li>
              <p class="font-medium text-lg">
                Attend the scheduled video call with the assigned clerk for identity and document
                verification.
              </p>
            </li>
            <li>
              <p class="font-medium text-lg">
                Successful verification is required for your application to proceed for approval and
                certificate issuance.
              </p>
            </li>
            <br />

            <h2 class="font-semibold text-lg text-blue-600">
              Select a Date and an available time slot:
            </h2>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-10">
              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Offices</mat-label>
                <mat-select
                  formControlName="officeId"
                  (selectionChange)="officeChanged($event.value)"
                >
                  @for (office of offices; track office._id) {
                    <mat-option [value]="office._id">{{ office.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Select Date</mat-label>

                <mat-select
                  formControlName="slotDate"
                  (selectionChange)="dateChanged($event.value)"
                >
                  @for (date of availableDates; track date) {
                    <mat-option [value]="date">
                      {{ date | date: 'dd MMM yyyy' }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Select Slot</mat-label>

                <mat-select formControlName="slotTime">
                  @for (slot of availableSlots; track slot._id) {
                    <mat-option [value]="slot._id">
                      {{ slot.startTime }} - {{ slot.endTime }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card>

          <div class="flex justify-center mt-12">
            <button
              matButton="filled"
              class="w-64"
              [disabled]="isApplicationSubmitting"
              (click)="submitApplication()"
            >
              @if (isApplicationSubmitting) {
                <mat-spinner diameter="20"></mat-spinner>
                <span>Submitting...</span>
              } @else {
                Submit
              }
            </button>
          </div>
          <div class="flex justify-between mt-6">
            <button type="button" matButton="filled" matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
