<nav
  class="fixed top-0 left-0 z-50 w-full flex items-center justify-between px-8 py-3 bg-white/90 backdrop-blur-md border-b border-slate-200"
>
  <a href="/" class="flex items-center">
    <img src="/assets/images/logo.png" alt="BMD-portal Logo" class="h-20 w-auto object-contain" />
  </a>

  <button matButton="filled" class="flex justify-end item-center" routerLink="/clerk-page">
    Home
  </button>
</nav>

<section class="pt-24">
  <div class="min-h-screen flex justify-center items-center mt-15">
    <mat-card class="w-full max-w-5xl rounded-2xl shadow-lg p-6 md:p-8">
      <div class="text-center mb-6">
        <h1 class="text-3xl font-bold text-blue-700">Clerk Registration</h1>
        <mat-icon class="w-16 h-15"> account_circle </mat-icon>
      </div>

      <form [formGroup]="clerkSignUpForm" (ngSubmit)="onClerkSignUp()">
        <app-aadhar-verification
          [aadharControl]="clerkSignUpForm.controls.aadharNumber"
          (verified)="onAadharVerified($event)"
        ></app-aadhar-verification>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4 mt-7">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>States</mat-label>
            <mat-select formControlName="stateId" (selectionChange)="onStateChange($event.value)">
              @for (state of states; track state._id) {
                <mat-option [value]="state._id">{{ state.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Districts</mat-label>
            <mat-select
              formControlName="districtId"
              (selectionChange)="onDistrictChange($event.value)"
            >
              @for (district of districts; track district._id) {
                <mat-option [value]="district._id">{{ district.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Offices</mat-label>
            <mat-select formControlName="officeId">
              @for (office of offices; track office._id) {
                <mat-option [value]="office._id">{{ office.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Departments</mat-label>
            <mat-select formControlName="departmentId">
              @for (department of departments; track department._id) {
                <mat-option [value]="department._id">{{ department.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Clerk Name</mat-label>
            <input matInput type="text" formControlName="clerkName" />

            <mat-error>Enter clerk Name</mat-error>
          </mat-form-field>

          <app-email-field [emailControl]="clerkSignUpForm.controls.email"></app-email-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Mobile No.</mat-label>
            <input matInput formControlName="mobileNo" />

            <mat-error>Enter Valid Mobile Number</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>select Date of Birth</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [min]="minDate"
              [max]="maxDate"
              formControlName="dateOfBirth"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>please select a Date of birth</mat-error>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-5">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Gender</mat-label>

              <mat-select formControlName="gender">
                <mat-option value="male">Male</mat-option>

                <mat-option value="female">Female</mat-option>

                <mat-option value="other">Other</mat-option>
              </mat-select>

              <mat-error>Please select gender</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="mb-5">
          <label class="block text-sm font-semibold text-slate-700 mb-2">Upload Document:</label>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="mb-5">
            <label class="block text-sm font-semibold text-slate-700 mb-2">Aadhar Card:</label>
            <input
              type="file"
              (change)="onFileSelected($event, 'aadhar')"
              class="border border-black p-2 rounded-md"
              formControlName="aadharCard"
            />
          </div>

          <div class="mb-5">
            <label class="block text-sm font-semibold text-slate-700 mb-2">Employee ID Card:</label>
            <input
              type="file"
              (change)="onFileSelected($event, 'employee')"
              class="border border-black p-2 rounded-md"
              formControlName="govEmployeeIdCard"
            />
          </div>

          <div class="mb-5">
            <label class="block text-sm font-semibold text-slate-700 mb-2"
              >Employee Signature:</label
            >
            <input
              type="file"
              (change)="onFileSelected($event, 'signature')"
              class="border border-black p-2 rounded-md"
              formControlName="signature"
            />
          </div>
        </div>

        <div class="flex justify-center mt-4">
          <button matButton="filled" type="submit" class="w-64" [disabled]="isLoading">
            @if (!isLoading) {
              Register
            }
            @if (isLoading) {
              <mat-spinner diameter="22"></mat-spinner>
            }
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</section>
