<mat-form-field appearance="fill" class="w-full">
  <mat-label>{{ label }} </mat-label>

  <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="passwordControl" />

  <button matIconButton matSuffix type="button" (click)="hide.set(!hide())">
    <mat-icon>
      {{ hide() ? 'visibility_off' : 'visibility' }}
    </mat-icon>
  </button>

  @if (passwordControl.hasError('required') && passwordControl.touched) {
    <mat-error>Password is required.</mat-error>
  }

  @if (passwordControl.hasError('minlength') && passwordControl.touched) {
    <mat-error>Password must be at least 8 characters.</mat-error>
  }

  @if (passwordControl.hasError('maxlength') && passwordControl.touched) {
    <mat-error>Password cannot exceed 20 characters.</mat-error>
  }

  @if (passwordControl.hasError('pattern') && passwordControl.touched) {
    <mat-error>
      Password must contain uppercase, lowercase, number and special character.
    </mat-error>
  }
</mat-form-field>
